*{
    font-family: sans-serif;
}
h1{
    color: white;
    background-color: black;
}
span{
    color: cyan;
}

h2{
    color: white;
    background-color: purple;
    font-style: italic;
    text-align: center;
}

h3{
    color: purple;
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
}